html {
    font-family: Areal, Helvetica sans-serif;
}

body {
    Background-color:#FFFFF5;
    text-align:left;
}

h1{
    font-family:"Gill Sans", Areal, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #006699;
}

p {
    font-size: 1rem;
    line-height: 1.50rem;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

hr {
    border: 2px solid #66CCFF;
}

ul,
ol {
    border-top: 2px solid #66CCFF;
    border-bottom: 2px solid #66CCFF;
    background-color: #FFFFFF;
}

IMG.bird_starling.jpg {
    display: block;
    margin-left: auto;
    margin-right: auto 
}